@model ShoppingCar.Models.good

<@*使用js，讓頁面各戶端驗証*@>
@section scripts{

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>good</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.帳號, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.帳號, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.帳號, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品名稱, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品名稱, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品名稱, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品摘要, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品摘要, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品摘要, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品明細, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品明細, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品明細, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.庫存量, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.庫存量, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.庫存量, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.單價, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.單價, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.單價, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.上架時間, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.上架時間, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.上架時間, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.下架時間, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.下架時間, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.下架時間, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品小圖片, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品小圖片, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品小圖片, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品大圖片1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品大圖片1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品大圖片1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品大圖片2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品大圖片2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品大圖片2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品大圖片3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品大圖片3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品大圖片3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.編輯, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.編輯, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.編輯, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.商品類別代碼, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.商品類別代碼, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.商品類別代碼, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    <script type="text/javascript">

        function SetDate(ClientID) {
            var Url = 'GoodDate1.aspx?DialogClientID=' + ClientID;
            window.open(Url, 'Calendar', "toolbar=no,scrollbars=no,resizable=yes,top=350,left=500,width=300,height=250,status=no, location=no,directories=no,menubar=no,center=yes");

        }
        $(document).ready(function () {
            $('#left_CContent_FormViewGoodsInsert_ButInsert').mousedown(function () {
                var starttime = document.getElementById('left_CContent_FormViewGoodsInsert_txtDataUp').value;
                var endtime = document.getElementById('left_CContent_FormViewGoodsInsert_txtDataDown').value;
                var minutes = 1000 * 60
                var hours = minutes * 60
                var days = hours * 24
                if (Date.parse(endtime) > (Date.parse(starttime) + (days * 90))) {
                    alert("上架時間至下架時間為期三個月");
                }
                return false;
            });
        });

        //圖片預覽
        $(function () {
            function format_float(num, pos) {
                var size = Math.pow(10, pos);
                return Math.round(num * size) / size;
            }
            function preview1(inpreview1) {
                if (inpreview1.files && inpreview1.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.preview1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(inpreview1.files[0]);
                }
            }
            $("body").on("change", ".upl1", function () {
                preview1(this);
            })

            function preview2(inpreview2) {
                if (inpreview2.files && inpreview2.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.preview2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(inpreview2.files[0]);
                }
            }
            $("body").on("change", ".upl2", function () {
                preview2(this);
            })

            function preview3(inpreview3) {
                if (inpreview3.files && inpreview3.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.preview3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(inpreview3.files[0]);
                }
            }
            $("body").on("change", ".upl3", function () {
                preview3(this);
            })
        })
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
